/* You can add global styles to this file, and also import other style files */
.mouse-hover{
    cursor: pointer;
}

form input::placeholder{
    color: white;
    font-weight: 300;
}

form.submitted input.ng-invalid{
    border-color: #dc3545;
}